/*
  NAVIGATION SECTION
*/
.navigation nav a {
  color: white;
  font-family: 'Assistant', Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.navigation nav a:hover {
  color: white;
}
.navigation nav a span {
  color: #0040db;
}

/*
  ATTENTION SECTION
*/
.attention {
  margin-top: 8rem;
}
.attention h1 {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: white;
}

/*
  BODY SECTION
*/
.body p {
  font-family: 'Assistant', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
}
.body #form #radioYes {
  margin-left: 6rem;
}
.body #form #radioNo {
  margin-left: 2rem;
}
