h1, h2, p {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 5rem;
  color: white;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 2rem;
}

#myheader {
  margin-top: 8rem;
}
#mylogo h2 {
  cursor: pointer;
}
#mylogo h2 span {
  color: #0040db;
}
