<div class="container">
  <div id="myheader" *ngIf="displayHeader" class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h1 class="text-center" [@headerAnimation]="getHeaderAnimation()" (@headerAnimation.start)="onAnimationEventStart($event)" (@headerAnimation.done)="onAnimationEventDone($event)">Time is money,</h1>
        <h1 class="text-center" [@headerAnimation]="getHeaderAnimation()" (@headerAnimation.start)="onAnimationEventStart($event)" (@headerAnimation.done)="onAnimationEventDone($event)">don't you want more?</h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div id="mylogo" class="row mt-2" [@logoAnimation]="getLogoAnimation()">
    <div class="col">
        <h2>Time <span>=</span> Money</h2>
    </div>
  </div>
  <div class="mybody" *ngIf="displayBody" class="row">
    <div class="col">
      <p [@body1Animation]="isBody1Animation">Since time is money, you need to conserve your time.</p>
      <p [@body2Animation]="isBody2Animation">But how?</p>
      <p [@body3Animation]="isBody3Animation">For any given task, I'll help you calculate whether you should do it.</p>
      <p [@body4Animation]="isBody4Animation">Begin by entering a few details about yourself below, and I'll let you know what I think.</p>
    </div>
  </div>
</div>
